* {
    margin:  0;
    padding: 0;
}

#wrap {
    padding: 2%;
    color: black;
    border-radius: 20px;
    width: 90vw;
    margin: auto;
    background-color: #f8fafd;
}

#content-cards  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin: auto;
    padding: 1%;
    max-width: 25vw;
    max-height: 400px;
}

.profile {
    display: flex;
}

.name {
    margin-left: 8%;
}

.card img {
    margin-top: 1vh;
    height: 10%;
    width: 10%;
}

@media (max-width: 1400px) {
    #wrap {
        width: 50vw;
    }
    .card {
        max-width: 45vw;
    }
}

.card{
    .stars{
        margin-left: 10%;
        display: inline-block;
        list-style: none;
        padding: 0;
      
        > li{
            display: inline-block;
        
        .fa{
          color: #f7c01b;
        }
  
        #fa-grey{
          color: #727070;
        }
  
      }
    }
    
    > span{
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      margin-left: 5px;
      color: #555;
    }
}
